<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		主进程名称，更新时会结束该进程，更新完成后再自动启动。
		-->
		<add key="MainProcessName" value=""/>

		<!--
		检查自动更新的地址，该地址需要返回如下格式的Json串：
		{
		    "Version":"",
		    "DownloadUrl":""
		}
		-->
		<add key="UpgradeUrl" value=""/>

		<!--
		更多配置说明请查看
		https://github.com/JiuLing-zhang/AutoUpgrade#%E9%85%8D%E7%BD%AE
		-->
	</appSettings>
</configuration>